*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f1117;
    color:white;
}

header{
    text-align:center;
    padding:40px 20px;
}

header h1{
    font-size:3rem;
    margin-bottom:10px;
}

header p{
    color:#aaa;
    margin-bottom:20px;
}

.volver{
    color:#00e5ff;
    text-decoration:none;
}

.contenedor{
    width:90%;
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:30px;
    padding:40px 0;
}

.formulario,
.resumen{
    background:#181c25;
    padding:25px;
    border-radius:15px;
}

.grupo{
    margin-bottom:20px;
}

.grupo label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
}

.grupo select,
.grupo input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
}

.btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:8px;
    background:#00e5ff;
    color:black;
    font-weight:bold;
    cursor:pointer;
}

.btn:hover{
    transform:scale(1.02);
}

.resumen h2{
    margin-bottom:20px;
}

.resumen ul{
    list-style:none;
}

.resumen li{
    margin-bottom:12px;
}

.precio{
    margin-top:30px;
    font-size:1.2rem;
    font-weight:bold;
}

.precio span{
    display:block;
    margin-top:10px;
    color:#00e5ff;
    font-size:2rem;
}

@media(max-width:768px){
    .contenedor{
        grid-template-columns:1fr;
    }
}
